{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block body %}
<header>
    {% include 'nav.html' %}
		<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
	    </div>
	</div>
</header>

<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>PAUL SILVA</h2>
				<p>Let's get acquainted, my name is Paul.</p>
				<p>I am a UI/UX designer who truly believes that good design makes people's lives easier.</p>
				<p>My main direction is the design of multi-page sites and services, as well as selling/landing pages.</p>
			</div>

		</div>
	</div>

	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-dribbble"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
				<div class="col-lg-2">
					<a href="#"><i class="fa fa-tumblr"></i></a>
				</div>

			</div>
		</div>
	</div>
{% include 'footer.html' %}
{% endblock %}